dash==2.9.2
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
plotly==5.14.1
pandas==2.0.0
numpy==1.23.5
sklearn==1.2.2
umap-learn==0.5.3
io==3.9.16
base64==3.9.16
shap==0.41.0
interpret==0.4.1
json==3.9.16
pickle==3.9.16
os==3.9.16
flask==2.2.3
flask-session==0.5.0
uuid==3.9.16
time==3.9.16
